.col-md-10.col-md-offset-1
    .row
        .panel.panel-default
            .panel-body
                .page-header
                    %h3= @workout.date.to_s.to_time.strftime('%B %e %Y')
                
                .row
                    .col-md-12
                        %ul.pager
                            - if !@workout.previous.blank?
                                %li.pull-left 
                                    = link_to '← Previous', @workout.previous
                            - if !@workout.next.blank?
                                %li.pull-right
                                    = link_to 'Next →', @workout.next
                
                / Remarks
                - if !@workout.remarks.blank?
                    .row
                        .col-md-12
                            .panel.panel-info
                                .panel-heading
                                    %h1.panel-title Remarks
                                .panel-body
                                    %p= @workout.remarks
                
                .row
                    .col-md-10.col-md-offset-1
                
                        - @workout.workout_exercises.each do |we|
                            
                            %h4.text-center
                                %strong= Exercise.find(we.exercise_id).name
                                %br
                                - if !we.training_type_id.blank? 
                                    %small= TrainingType.find(we.training_type_id).name
                            
                            // Display Table
                            .table-responsive
                                %table.table.table-striped.table-hover
                                    %thead
                                        %tr
                                            %th.text-center Set #
                                            %th.text-center Weight (lbs)
                                            %th.text-center Reps
                                    %tbody
                                        - we.exercise_sets.each_with_index do |set, i|
                                            %tr
                                                %td.text-center= "Set #{i+1}"
                                                %td.text-center= set.weight
                                                %td.text-center= set.reps
                            %hr
                            
      
                            
                %ul.list-inline.text-center
                    %li
                        = link_to edit_workout_path(@workout), class: 'text-info' do
                            %span.glyphicon.glyphicon-pencil
                            Edit Workout
                    
                    %li
                        = link_to workout_path(@workout), method: :destroy, class: 'text-danger' do
                            %span.glyphicon.glyphicon-remove
                            Delete Workout
                 
                %br 
                
                .row
                    .col-md-12
                        %ul.pager
                            - if !@workout.previous.blank?
                                %li.pull-left 
                                    = link_to '← Previous', @workout.previous
                            - if !@workout.next.blank?
                                %li.pull-right
                                    = link_to 'Next →', @workout.next
                            
                = link_to 'Back', workouts_path