.col-md-10.col-md-offset-1
    .row
        .panel.panel-default
            .panel-body
                %h3 My Exercises
                %br
                - @exercises.each do |e|
                    #exercise
                        %h4
                            %strong= e.name
                        %p= e.description
                    %hr
                    
                .row.text-center
                    = link_to new_exercise_path do
                        %span.glyphicon.glyphicon-plus
                        Add New Exercise
                
                %h3 My Training Styles
                
                - if @styles.blank?
                    %p.text-center There are no training styles. Create one below.
                - else
                    %ul.list-inline.text-center
                        - @styles.each do |s|
                            %li= s.name
                
                = render 'add_style'