!!! 5

%html
%head
  %title My Gains
  
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  
  = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
  = stylesheet_link_tag 'https://bootswatch.com/sandstone/bootstrap.min.css'
  = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'
  
  = csrf_meta_tags

%body

  = render 'layouts/navbar'

  .container
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "alert alert-#{name}"

    = yield